@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #3e1e68;
  overflow: hidden;
  z-index: -1000;
}

.background span {
  width: 8vmin;
  height: 8vmin;
  border-radius: 8vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 47;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.background span:nth-child(0) {
  color: #ffacac;
  top: 66%;
  left: 76%;
  animation-duration: 20s;
  animation-delay: -16s;
  transform-origin: -7vw -12vh;
  box-shadow: 16vmin 0 2.302166383370446vmin currentColor;
}
.background span:nth-child(1) {
  color: #583c87;
  top: 53%;
  left: 26%;
  animation-duration: 27s;
  animation-delay: -29s;
  transform-origin: -1vw 4vh;
  box-shadow: 16vmin 0 2.617493564410151vmin currentColor;
}
.background span:nth-child(2) {
  color: #e45a84;
  top: 45%;
  left: 26%;
  animation-duration: 12s;
  animation-delay: -29s;
  transform-origin: -22vw 9vh;
  box-shadow: -16vmin 0 2.0562859364952955vmin currentColor;
}
.background span:nth-child(3) {
  color: #e45a84;
  top: 19%;
  left: 11%;
  animation-duration: 31s;
  animation-delay: -30s;
  transform-origin: -18vw -10vh;
  box-shadow: -16vmin 0 2.287201539163655vmin currentColor;
}
.background span:nth-child(4) {
  color: #ffacac;
  top: 41%;
  left: 82%;
  animation-duration: 22s;
  animation-delay: -17s;
  transform-origin: 13vw 24vh;
  box-shadow: 16vmin 0 2.7653880754089784vmin currentColor;
}
.background span:nth-child(5) {
  color: #e45a84;
  top: 80%;
  left: 24%;
  animation-duration: 15s;
  animation-delay: -30s;
  transform-origin: 22vw 22vh;
  box-shadow: 16vmin 0 2.905271992685897vmin currentColor;
}
.background span:nth-child(6) {
  color: #583c87;
  top: 67%;
  left: 37%;
  animation-duration: 28s;
  animation-delay: -2s;
  transform-origin: 16vw -6vh;
  box-shadow: 16vmin 0 2.564752951077124vmin currentColor;
}
.background span:nth-child(7) {
  color: #583c87;
  top: 83%;
  left: 96%;
  animation-duration: 25s;
  animation-delay: -18s;
  transform-origin: 25vw 4vh;
  box-shadow: 16vmin 0 2.995991179793137vmin currentColor;
}
.background span:nth-child(8) {
  color: #ffacac;
  top: 49%;
  left: 74%;
  animation-duration: 16s;
  animation-delay: -15s;
  transform-origin: -3vw 9vh;
  box-shadow: -16vmin 0 2.3329380246425138vmin currentColor;
}
.background span:nth-child(9) {
  color: #e45a84;
  top: 84%;
  left: 50%;
  animation-duration: 19s;
  animation-delay: -16s;
  transform-origin: 12vw -22vh;
  box-shadow: -16vmin 0 2.2429663583313175vmin currentColor;
}
.background span:nth-child(10) {
  color: #ffacac;
  top: 42%;
  left: 25%;
  animation-duration: 9s;
  animation-delay: -8s;
  transform-origin: 25vw -16vh;
  box-shadow: -16vmin 0 2.6911632290941196vmin currentColor;
}
.background span:nth-child(11) {
  color: #583c87;
  top: 9%;
  left: 3%;
  animation-duration: 9s;
  animation-delay: -12s;
  transform-origin: -7vw -16vh;
  box-shadow: 16vmin 0 2.7416103820772775vmin currentColor;
}
.background span:nth-child(12) {
  color: #583c87;
  top: 45%;
  left: 72%;
  animation-duration: 16s;
  animation-delay: -25s;
  transform-origin: -2vw -24vh;
  box-shadow: -16vmin 0 2.7308571093663905vmin currentColor;
}
.background span:nth-child(13) {
  color: #ffacac;
  top: 48%;
  left: 75%;
  animation-duration: 8s;
  animation-delay: -16s;
  transform-origin: 0vw -12vh;
  box-shadow: -16vmin 0 2.0209796723657645vmin currentColor;
}
.background span:nth-child(14) {
  color: #583c87;
  top: 11%;
  left: 30%;
  animation-duration: 28s;
  animation-delay: -29s;
  transform-origin: -23vw 22vh;
  box-shadow: 16vmin 0 2.7487057858231703vmin currentColor;
}
.background span:nth-child(15) {
  color: #e45a84;
  top: 70%;
  left: 79%;
  animation-duration: 6s;
  animation-delay: -3s;
  transform-origin: 19vw -9vh;
  box-shadow: 16vmin 0 2.7056652585210177vmin currentColor;
}
.background span:nth-child(16) {
  color: #ffacac;
  top: 48%;
  left: 40%;
  animation-duration: 29s;
  animation-delay: -9s;
  transform-origin: 10vw 11vh;
  box-shadow: 16vmin 0 2.481417701722383vmin currentColor;
}
.background span:nth-child(17) {
  color: #e45a84;
  top: 97%;
  left: 36%;
  animation-duration: 8s;
  animation-delay: -14s;
  transform-origin: -10vw -1vh;
  box-shadow: 16vmin 0 2.3320984119115735vmin currentColor;
}
.background span:nth-child(18) {
  color: #e45a84;
  top: 53%;
  left: 41%;
  animation-duration: 25s;
  animation-delay: -29s;
  transform-origin: -1vw 9vh;
  box-shadow: 16vmin 0 2.076859328771503vmin currentColor;
}
.background span:nth-child(19) {
  color: #e45a84;
  top: 36%;
  left: 46%;
  animation-duration: 14s;
  animation-delay: -28s;
  transform-origin: -7vw -16vh;
  box-shadow: -16vmin 0 2.9233545793129276vmin currentColor;
}
.background span:nth-child(20) {
  color: #583c87;
  top: 95%;
  left: 59%;
  animation-duration: 14s;
  animation-delay: -18s;
  transform-origin: -5vw 19vh;
  box-shadow: -16vmin 0 2.416017531368665vmin currentColor;
}
.background span:nth-child(21) {
  color: #e45a84;
  top: 15%;
  left: 78%;
  animation-duration: 8s;
  animation-delay: -18s;
  transform-origin: 10vw 0vh;
  box-shadow: -16vmin 0 2.572364970997972vmin currentColor;
}
